.transactionBtn{
    width: 40px;
    height: 40px;
    background:  #85AAD7;
    color: #ffff;
    border: none;
    border-radius: 10px;
}
.wallet-balance-container{
    background-image:
    linear-gradient(to right, #519ACE, #608AC9);
}


